*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --brand-color: royalblue;
    --secondary-color: goldenrod;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-areas: 'sidebar header'
                         'sidebar main';
}

.icon {
    width: 2rem;
    height: 2rem;
    background-color: black;
    cursor: pointer;
    transition: all 200ms;
}

.avatar {
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary-color);
    mask: url(images/account-circle.svg) no-repeat center;
    cursor: pointer;
    transition: all 200ms;
}

.avatar-large {
    height: 5rem;
    width: 5rem;
}

.icon:hover {
    scale: 1.1;
    cursor: pointer;
}


/* Rules for Header Section */
header {
    padding: 1rem 2rem;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 'search-bar user-info'
                         'welcome    actions';
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

/* Search Bar */
.search-bar {
    width: 50vw;
    height: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

.search-icon {
    width: 2rem;
    height: 100%;
    background-color: black;
    mask: url(images/magnify.svg) no-repeat center;
    cursor: pointer;
}

.search-box {
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    border-radius: 50px;
    padding: 0 1rem;
    overflow: hidden;
}

/* User Info */
.user-info {
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-items: end;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.notification-icon {
    mask: url(images/bell-ring-outline.svg) no-repeat center;
    scale: 0.8;
}

.notification-icon:hover {
    scale: 0.9;
    cursor:pointer;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.fullname {
    font-weight: 600;
    text-wrap: nowrap;
    cursor: pointer;
}


.user:hover .avatar,
.welcome:hover .avatar-large {
    scale: 1.05;
}

/* Welcome Text */
.welcome  {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    display: grid;
    grid-area: 'welcome';
    grid-template-columns: 5rem 1fr;
    align-items: center;
}

.welcome .salutation {
    font-size: 0.9rem;
}

/* Action Buttons */
.actions {
    height: 100%;
    grid-area: 'actions';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
    gap: 1rem;
}

.action-btn {
    height: 2.25rem;
    width: 5.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: var(--brand-color);
    border: 2px solid var(--brand-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 200ms;
}

.action-btn:hover {
    scale: 1.1;
}


/* Rules for Sidebar and Contents    */
.sidebar {
    grid-area: sidebar;
    background-color: var(--brand-color);
    color: whitesmoke;
    font-weight: 700;
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 3rem;
}

.brand-logo {
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
    mask: url(images/view-dashboard.svg) no-repeat center;
}

.brand-text {
    font-size: 1.2rem;
    align-self: center;
}

.branding,
.sidebar-nav-item,
.quick-link-item {
    height: fit-content;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 1rem;
    cursor: pointer;
    transition: all 100ms;
}

.sidebar-nav, .quick-links {
    display: grid;
    gap: 0.5rem;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    align-self: center;
    border-left: 3px solid transparent;
    transition: all 300ms;
}

.sidebar-nav-item:hover,
.quick-link-item:hover {
    gap: 0.75rem;
}

.sidebar-nav-item:hover .link-icon,
.quick-link-item:hover .link-icon {
    scale: 1.2;
}

.sidebar-nav-item:hover .nav-link,
.quick-link-item:hover .nav-link {
    padding-left: 0.25rem;
    border-color: whitesmoke;
}

.link-icon {
    height: 1.5rem;
    width: 100%;
    background-color: whitesmoke;
    transition: all 200ms;
}

/* link icons */
.home .link-icon {
    mask: url(images/home-variant.svg) no-repeat center;
}

.profile .link-icon {
    mask: url(images/card-account-details-outline.svg) no-repeat center;
}

.messages .link-icon {
    mask: url(images/message.svg) no-repeat center;
}

.history .link-icon {
    mask: url(images/history.svg) no-repeat center;
}

.tasks .link-icon {
    mask: url(images/calendar-check.svg) no-repeat center;
}

.communities .link-icon {
    mask: url(images/account-group.svg) no-repeat center;
}

.settings .link-icon {
    mask: url(images/cog.svg) no-repeat center;
}

.support .link-icon {
    mask: url(images/help-box.svg) no-repeat center;
}

.privacy .link-icon {
    mask: url(images/shield-check.svg) no-repeat center;
}

main {
    grid-area: main;
    min-height: calc(100vh - 150px);
    background-color: lightsteelblue;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 'projects announcements'
                         'projects trending';
    gap: 1rem;
}

.section-heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


/* Rules for Project Section */
.projects {
    grid-area: projects;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-content: start;
    align-items: start;
    gap: 2rem;
}

.project {
    height: 15rem;
    width: 25rem;
    background-color: whitesmoke;
    padding: 2rem 1rem;
    border-left: 8px solid var(--secondary-color);
    border-radius: 8px;
    display: grid;
    align-content: space-between;
    cursor: pointer;
    transition: 300ms;
}

.project:hover {
    scale: 1.03;
    background-color: white;
}

.project-title {
    margin-bottom: 0.5rem;
}

.project-summary {
    font-size: 1.1rem;
    opacity: 0.7;
}

.action-buttons {
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    justify-content: end;
    gap: 1rem;
}

.action-buttons .icon {
    scale: 0.75;
}

.action-buttons .icon:hover {
    background-color: var(--secondary-color);
    scale: 1.05;
}

.star {
    mask: url(images/star-plus-outline.svg) no-repeat center;
}

.view {
    mask: url(images/eye-plus-outline.svg) no-repeat center;
}

.fork {
    mask: url(images/source-fork.svg) no-repeat center;
}

/* Announcement and Trending Section */
.announcements {
    grid-area: announcements;
}

.announcement-list, .trend-list {
    background-color: whitesmoke;
    padding: 2rem;
    list-style-type: none;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.announcement-title, .user-handle {
    padding-bottom: 0.5rem;
}

.announcement-list li {
    padding-bottom: 1rem;
    border-bottom: 2px solid silver;
    opacity: 0.7;
    transition: all 200ms;
}

.announcement-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.trending {
    grid-area: trending;
}

.trend-list {
    row-gap: 2rem;
}

.trend-list li {
    display: grid;
    grid-template-areas: 'pic handle'
                         'pic trend';
    column-gap: 1rem;
    justify-content: start;
    align-items: center;
    opacity: 0.7;
    transition: all 200ms;
}

.trend-list .avatar {
    grid-area: pic;
    scale: 1.25;
}

.trend-list .user-handle {
    grid-area: handle;
    padding-bottom: 0.125rem;
}

.trend-list .update {
    grid-area: trend;
}

.announcement-list li:hover,
.trend-list li:hover {
    opacity: 1;
    cursor: pointer;
}