*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --brand-color: royalblue;
    --secondary-color: goldenrod;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'sidebar header'
                         'sidebar main';
}


/* Rules for Header Section */
header {
    padding: 1rem 2rem;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 'search-bar user-info'
                         'welcome    actions';
    align-items: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

.icon {
    width: 2rem;
    height: 2rem;
    background-color: black;
}

.avatar {
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary-color);
    mask: url(images/account-circle.svg) no-repeat center;
}

.avatar-large {
    height: 4.5rem;
    width: 4.5rem;
}

/* Search Bar */
.search-bar {
    width: 50vw;
    height: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}

.search-icon {
    width: 2rem;
    height: 100%;
    background-color: black;
    mask: url(images/magnify.svg) no-repeat center;
}

.search-box {
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    border-radius: 50px;
}

/* User Info */
.user-info {
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-items: end;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.notification-icon {
    mask: url(images/bell-ring-outline.svg) no-repeat center;
    scale: 0.8;
}

.fullname {
    font-weight: 600;
    min-width: 10ch;
}

/* Welcome Text */
.welcome  {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    display: grid;
    grid-area: 'welcome';
    grid-template-columns: 5rem 1fr;
    align-items: center;
}

.welcome .salutation {
    font-size: 0.9rem;
}

/* Action Buttons */
.actions {
    height: 100%;
    grid-area: 'actions';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.action-btn {
    height: 2.25rem;
    width: 5.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: var(--brand-color);
    border: 2px solid var(--brand-color);
    border-radius: 50px;
}


/* Rules for Sidebar and Contents    */
.sidebar {
    grid-area: sidebar;
    background-color: var(--brand-color);
    color: whitesmoke;
    font-weight: 700;
    padding: 1rem;
    display: grid;
    align-content: start;
    gap: 3rem;
}

.brand-logo {
    height: 40px;
    width: 100%;
    background-color: whitesmoke;
    mask: url(images/view-dashboard.svg) no-repeat center;
}

.brand-text {
    font-size: 1.2rem;
    align-self: center;
}

.branding,
.sidebar-nav-item,
.quick-link-item {
    height: fit-content;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 1rem;
}

.sidebar-nav, .quick-links {
    display: grid;
    gap: 1.1rem;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    align-self: center;
}

.link-icon {
    height: 1.5rem;
    width: 100%;
    background-color: whitesmoke;
}

/* link icons */
.home .link-icon {
    mask: url(images/home-variant.svg) no-repeat center;
}

.profile .link-icon {
    mask: url(images/card-account-details-outline.svg) no-repeat center;
}

.messages .link-icon {
    mask: url(images/message.svg) no-repeat center;
}

.history .link-icon {
    mask: url(images/history.svg) no-repeat center;
}

.tasks .link-icon {
    mask: url(images/calendar-check.svg) no-repeat center;
}

.communities .link-icon {
    mask: url(images/account-group.svg) no-repeat center;
}

.settings .link-icon {
    mask: url(images/cog.svg) no-repeat center;
}

.support .link-icon {
    mask: url(images/help-box.svg) no-repeat center;
}

.privacy .link-icon {
    mask: url(images/shield-check.svg) no-repeat center;
}

main {
    grid-area: main;
    height: calc(100vh - 150px);
    background-color: lightsteelblue;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'projects announcements'
                         'projects trending';
    gap: 1rem;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}